@charset "utf-8";
 
 main, body {
 margin: 4px;
 padding: 50px;
 border: 10px;
 color: #000000;
 background-image: url("https://img.freepik.com/premium-vector/blue-abstract-gradient-vector-background-with-gold-lining_257056-849.jpg")
 
 }
 html, body, p, th, td, li, dd, dt {
 font-family: tahoma, sans-serif;
 line-height: 200%;
 }
 h1, h2, h3, h4, h5, h6 {
 font-family: tahoma, sans-serif;
 }
 h1 { font-size: 2em; color:rgb(33, 64, 201) }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }
 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }